<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../style/page.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../style/bootstrap.min.css">
  <script src="../style/jquery.min.js"></script>
  <script src="../style/bootstrap.min.js"></script>
  <script src='../../node_modules/jquery/dist/jquery.js'></script>
  <script src='../js/mainwindow.js'> </script>
</head>

<div class="topnav">
    <a class="active" href="./mainWindow.html">房间管理</a>
    <a href="./rentManagement.html">租金管理</a>
    <a href="./addRoom.html">创建房间</a>
</div>   

<body>
  <div>
      <h2>房间列表</h2>
      <div class="table-responsive"> 
        <table  class="table" id="roomTable">
          <thead>
            <tr></tr>
                <th>地址</th>
                <th>栋数</th>
                <th>房间名</th>
                <th>类型</th>
                <th>房租</th>
                <th>入住</th>
                <th>退房</th>
                <th>修改</th>
                <th>房间信息</th>
                </tr>
          </thead>
        </table>
      </div> 
  </div>
</body>
</html>
