<!DOCTYPE html>
<html lang="en">
  <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="../style/page.css" rel="stylesheet" type="text/css">
          <link rel="stylesheet" href="../style/bootstrap.min.css">
          <script src="../style/jquery.min.js"></script>
          <script src="../style/bootstrap.min.js"></script>
          <script src='../../node_modules/jquery/dist/jquery.js'></script>
          <script src='../js/paymentManagement.js'> </script>
  <head>


  <div class="topnav">
      <a href="./mainWindow.html">房间管理</a>
      <a class="active" href="./rentManagement.html">租金管理</a>
      <a href="./addRoom.html">创建房间</a>
  </div>   
         

  <body>
      <div>
          <h2>账单列表</h2>
          <div class="table-responsive"> 
            <table  class="table" id="paymentTable">
              <thead>
                <tr></tr>
                    <th>账单名称</th>
                    <th>截止时间</th>
                    <th>当前余款</th>
                    <th>账单完善</th>
                    <th>操作付款</th>
                    </tr>
              </thead>
            </table>
          </div> 
      </div>
  </body>

</html>
